@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Faculty Glyphic, sans-serif";
  src: url("/font/FacultyGlyphic-Regular.ttf");
}

@theme {
  --color-deep-plum: #391E29;
  --color-coffee-bean: #231219;
  --color-midnight-violet: #210124;
  --color-white-smoke: #fff8f0;
  --color-charocal-blue: #2d3748;
  --color-dusk-blue: #42516A;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

html,body {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
}
