@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Faculty Glyphic, sans-serif";
  src: url("/font/FacultyGlyphic-Regular.ttf");
}

@theme {
  --color-deep-plum: #391E29;
  --color-coffee-bean: #231219;
  --color-midnight-violet: #210124;
  --color-white-smoke: #fff8f0;
  --color-charocal-blue: #2d3748;
  --color-dusk-blue: ##42516A;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

html,body {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: black;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: black;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(2);
    background-color: black;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: black;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}